<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="javascript api" stopProcessing="true">
                    <match url="^screensaver/(.*)$" />
                    <action type="Rewrite" url="/index.php?screen={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
