html, body {
	height:100%;
}

body {
	font-family:"Helvetica Neue",arial,sans-serif;
	overflow:hidden;
	background:url(images/bg.jpg) no-repeat center center;
}

.loader {
	background-image:url(images/ajax-loader.gif);
	background-repeat:no-repeat;
	background-position:center center;
}

.hidden {
	display:none;
}

div.content-container {
	width:760px;
}

/* header - start */
div.header {
	height:86px;
	margin-top:5px;
}

	div.header img {
		float:left;
		width:75px;
		height:75px;
	}

	div.header div.taglines {
		float:left;
		margin-top:5px;
		margin-left:15px;
	}

		div.header div.taglines h1 {
			font-size:25px;
			color:#3B5998;
		}

	div.header div.facebook-like {
		margin-top:13px;
	}
/* header - end */

div.header-sub-title {
	font-size:12px;
	margin-top:4px;
	margin-bottom:10px;
}

div.friends {
	position:absolute;
	height:382px;
	width:761px;
	z-index:1000000;
	top:150px;
	background:url(images/friends_box_bg.png)
}

div.install {
	margin-top:20px;
	text-align:center;
}

/* preview */
div.preview {
	width:100%;
	height:100%;
	position:absolute;
}

	div.preview iframe {
		margin:0px;
		padding:0px;
		border:none;
		width:100%;
		height:100%;
	}

div.download-instructions {
	position:absolute;
	bottom:20px;
	left:40px;
	z-index:999999;
}

	div.download-instructions-text {
		color:#333333;
		padding:5px;
		font-size:20px;
		background:#fff;
		background:rgba(255, 255, 255, 0.8);
		-webkit-border-radius: 8px;
		border-radius: 8px;
	}

		div.download-instructions-text span {
			font-size:12px;
		}

	div.download-instructions-arrow {
		margin-top:11px;
		margin-left:54px;
		float:left;
		-webkit-transform:rotate(176deg);
		-moz-transform:rotate(90deg);
		filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	}

		div.download-instructions-arrow img {
			padding:0px;
			background:none;
			border:none;
			width:80px;
			height:50px;
		}

/* approve app box */
div.approve-app-text {
	position:absolute;
	width:336px;
	height:200px;
	background:url(images/message_box_bg.png) no-repeat;
}

	div.approve-app-text div.box-logo {
		position:absolute;
		top:-44px;
		left:106px;
		width:124px;
		height:101px;
		background:url(images/logo_large.png) no-repeat;
	}

	div.approve-app-text iframe.facebook-like {
		position:absolute;
		top:24px;
		left:38px;
		border:none;
		overflow:hidden;
		width:120px;
		height:21px;
	}

	div.preview div.approve-app-text div.box-message {
		margin-top:95px;
		text-align:center;
		color:#575757;
		font-size:14px;
	}

	div.preview div.approve-app-text div.box-button {
		margin-left:auto;
		margin-right:auto;
		margin-top:32px;
		width:154px;
		height:37px;
		background-image:url(images/generic_buttons.png);
		background-position:0 0;
		cursor:pointer;
		text-align:center;
		font-family:"Myriad Pro",arial,sans-serif;
		color:#545454;
		line-height:32px;
	}

	div.preview div.approve-app-text div.box-button:hover {
		background-position:0 -94px;
	}

	div.preview div.approve-app-text div.box-button:active {
		background-position:0 -47px;
	}

/* friends loading status */
div.loading-friends {
	position:absolute;
	width:336px;
	height:30px;
	background:#FFF;
	opacity:0.75;

	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

	div.loading-friends div.text-bar {
		position:absolute;
		top:0px;
		left:0px;
		width:336px;
		height:30px;
		font-weight:bold;
		line-height:30px;
		font-size:12px;
		text-align:center;
		z-index:1001;
	}

	div.loading-friends div.loading-bar {
		position:absolute;
		top:0px;
		left:0px;
		width:0px;
		height:30px;
		z-index:1000;
		background:#A1A1A1;

		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
	}


/* install app box */
div.install-app-box {
	position:absolute;
	width:336px;
	height:200px;
	background:url(images/message_box_empty_bg.png) no-repeat;
}

	div.install-app-box div.box-logo {
		position:absolute;
		top:-44px;
		left:106px;
		width:124px;
		height:101px;
		background:url(images/logo_large.png) no-repeat;
	}

/* update message */
div.message-update-box {
	font:normal 20px "Helvetica Neue", arial, sans-serif;
	letter-spacing:-1px;
	position:fixed;
	top:100px;
	color:black;
	background-color:white;
	text-align:center;
	opacity:0.7;
	z-index:100000;
	padding:10px 40px 10px 40px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

/* not supported browser */
div.not-support {
	text-align:center;
	margin-top:100px;
	font-weight:bold;
}

/* not supported mobile */
div.not-support-mobile {
	text-align:center;
	margin-top:50px;
	font-size:30px;
	font-weight:bold;
}

/* settings popup */
div.screen-saver-settings {
	direction:ltr;
	text-align:left;

	z-index: 1000001;
	position:absolute;
	background: rgba(82, 82, 82, 0.7);
	padding:10px;

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}


	div.screen-saver-settings-container {
		position:relative;
		background:#fff;
		border:1px solid #555;
		padding:10px;
		width:500px;
		height:130px;
	}

		/* settings close */
		div.screen-saver-settings-close {
			position:absolute;
			top:2px;
			right:3px;
			width:20px;
			height:20px;
			background:url(images/close.png) no-repeat;
			cursor:pointer;
		}

		/* settings title */
		div.screen-saver-settings-title {
			font-size:19px;
			color:#53637D;
			margin-bottom:4px;
		}

		/* settings list */
		div.screen-saver-settings-list {
			clear:both;
			padding-top:14px;
			padding-bottom:14px;
			border-top:1px solid #EEEEEE;
		}

			/* settings list name */
			div.screen-saver-settings-list-name {
				float:left;
				width:150px;
				font-size:18px;
			}

			/* settings list options */
			div.screen-saver-settings-list-options {
				float:left;
			}

				/* settings list option line */
				div.screen-saver-settings-list-option-line {
					margin-bottom:2px;
				}

					/* settings list option radio / checkbox */
					div.screen-saver-settings-list-options div input {
						margin-right:8px;
					}

					/* settings list option text */
					div.screen-saver-settings-list-options div span {
						color:#000;
						font-size:13px;
						position:relative;
						top:-1px;
					}

				/* hide pink facebook */
				div.screen-saver-settings-hide-pink-link {
					margin-left:5px;
					margin-top:5px;
				}

				div.screen-saver-settings-hide-pink-box {
					width:320px;
					padding:10px;
					margin-left:5px;
					margin-top:5px;
					border:1px solid #CCC;
					font-size:15px;
					display:none;
				}

					a.screen-saver-settings-hide-all {
						background-color:#A5A5A5;
						border-bottom:1px solid rgba(0, 0, 0, 0.25);
						border-radius:5px 5px 5px 5px;
						box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);
						color:#FFFFFF;
						cursor:pointer;
						display:inline-block;
						font-weight:bold;
						line-height:1;
						padding:4px 8px 5px;
						position:relative;
						text-decoration: none;
						text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25);
						font-size:12px;
						margin-top:5px;
					}

					a.screen-saver-settings-hide-all:hover {
						background-color:#878787;
					}