html, body {
	height:100%;
}

body {
	font-family:"Helvetica Neue",arial,sans-serif;
}

.loader {
	background-image:url(images/ajax-loader.gif);
	background-repeat:no-repeat;
	background-position:center center;
}

.hidden {
	display:none;
}

/* site background - start */
div.site-background {
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index: -1;
	background: #F5F5F5 url(images/bg_clouds.png) no-repeat center 62px;
}
/* site background - end */

/* site header - start */
div.header {
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:62px;
	background: url(images/bg_header.png) repeat-x center;
	z-index: 1000;
}

	div.header div.header-content {
		position: relative;
		width:90%;
		margin-left: auto;
		margin-right: auto;
	}

		div.header div.header-content div.logo a {
			position: absolute;
			top:0px;
			left:20px;
		}

		div.header div.header-content div.welcome {
			position: absolute;
			top: 12px;
			left: 485px;
			width:622px;
			height:34px;
			background: url(images/screensaver_title.png) no-repeat;
		}
/* site header - end */

/* share - start */
div.share {
	position: absolute;
	top:20px;
	left:200px;
	height:25px;
}

	div.share div.fb-like {
		position:absolute;
		top:0px;
		left:0px;
	}

	div.share a.twitter-share-button {
		font-size:0px;
	}

	div.share iframe.twitter-share-button {
		position:absolute;
		top:0px;
		left:150px;
	}

	div.share div#___plusone_0 {
		position:absolute;
		top:-2px;
		left:247px;
	}
	/* share - end */

/* site background - end */

div.site-container {
	width:90%;
	margin-left:auto;
	margin-right:auto;
	padding-top:100px;
}

	div.site-text {
		height:43px;
	}

		div.site-text div.arrow {
			float: left;
			position: relative;
			top:-5px;
			width:124px;
			height:43px;
			background: url(images/arrow.png) no-repeat;
			margin-left: 164px;
		}

		div.site-text div.explain {
			position: relative;
			top:-11px;
			float: left;
			font-size: 23px;
			margin-left: 20px;
		}

			div.site-text div.explain a {
				font-size: 13px;
				text-decoration: none;
				margin-left: 8px;
			}

	/* slider box - start */
	div.slider-box {
		position: relative;
		width:170px;
		float: left;
	}

		div.slider-box-header {
			width:170px;
			height:64px;
			background: url(images/slider_top.png) no-repeat;
		}

		div.slider-box-middle {
			width:170px;
			background: url(images/slider_bg.png) repeat-y;
		}

		div.slider-box-footer {
			width:170px;
			height:55px;
			background: url(images/slider_bottom.png) no-repeat;
		}

		div.slider-box-content {
			position: absolute;
			top: 21px;
			left: 22px;
			width: 127px;
		}

			div.slider-box-content div.image-container {
				width:125px;
				height:125px;
				margin-bottom:6px;
				position: relative;
			}

			div.slider-box-content div.image-container.selected {
				width: 123px;
				height:123px;
				border:1px solid #9B9B9B;
				cursor: default;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				overflow: hidden;
			}

				div.slider-box-content div.image-container.selected * {
					cursor: default !important;
				}

				div.slider-box-content div.image-container div.tooltip {
					width:125px;
					height:22px;
					position: absolute;
					bottom: 0px;
					left: 0px;
					background: rgba(0, 0, 0, 0.7);
					color:#fff;
					padding-top:8px;
					text-align: center;
					font-size: 14px;
					font-weight: bold;
					cursor: pointer;
					-webkit-border-bottom-right-radius: 5px;
					-webkit-border-bottom-left-radius: 5px;
					-moz-border-radius-bottomright: 5px;
					-moz-border-radius-bottomleft: 5px;
					border-bottom-right-radius: 5px;
					border-bottom-left-radius: 5px;
				}
			
				div.slider-box-content div.image-container img {
					width:125px;
					height:125px;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
					cursor: pointer;
				}
	/* slider box - end */

	/* screensaver box - start */
	div.right-box {
		float:left;
		margin-left:20px;
		width:500px;
		position: relative;
	}

		div.right-box div.preview-label {
			position: absolute;
			top:-7px;
			left:-7px;
			width:144px;
			height:145px;
			background: url(images/preview_strip.png) no-repeat;
		}

		/* download box */
		div.download-box {
			position:absolute;
			width:336px;
			height:200px;
			top:0px;
			left:0px;
			background:url(images/message_box_bg.png) no-repeat;
		}

			div.download-box div.box-logo {
				position:absolute;
				top:-44px;
				left:106px;
				width:124px;
				height:101px;
				background:url(images/logo_large.png) no-repeat;
			}

			div.download-box div.box-button {
				margin-left:auto;
				margin-right:auto;
				margin-top:141px;
				width:154px;
				height:37px;
				background-image:url(images/generic_buttons.png);
				background-position:0 0;
				cursor:pointer;
				text-align:center;
				font-family:"Myriad Pro",arial,sans-serif;
				color:#545454;
				line-height:32px;
			}

			div.download-box div.box-button:hover {
				background-position:0 -94px;
			}

			div.download-box div.box-button:active {
				background-position:0 -47px;
			}

		/* preview table */
		div.right-box table {
			width:100%;
			height:100%;
			border:none;
		}

			div.right-box table td.corner-t-l {
				width:22px;
				height:24px;
				background: url(images/corner_l_t.png) no-repeat;
			}

			div.right-box table td.bg-t {
				height:24px;
				background: url(images/bg_t.png) repeat-x;
			}

			div.right-box table td.corner-t-r {
				width:22px;
				height:24px;
				background: url(images/corner_r_t.png) no-repeat;
			}

			div.right-box table td.bg-l {
				width:px;
				background: url(images/bg_l.png) repeat-y;
			}

			div.right-box table td.bg-r {
				width:22px;
				background: url(images/bg_r.png) repeat-y;
			}

			div.right-box table td.corner-b-l {
				width:22px;
				height:26px;
				background: url(images/corner_l_b.png);
			}

			div.right-box table td.bg-b {
				height:26px;
				background: url(images/bg_b.png);
			}

			div.right-box table td.corner-b-r {
				width:22px;
				height:26px;
				background: url(images/corenr_r_b.png);
			}

			div.right-box table td#preview iframe {
				border:none;
			}
	/* screensaver box - end */

	/* shadows - start */
	div.bottom-shadows {
		clear: both;
		height:62px;
		position: relative;
	}

		div.bottom-shadows div.shadow-left {
			position: absolute;
			top:8px;
			left:-34px;
			width:245px;
			height:62px;
			background: url(images/shadow_left.png) no-repeat;
		}

		div.bottom-shadows div.shadow-right {
			position: absolute;
			top:8px;
			right:0px;
			width:893px;
			height:62px;
			background: url(images/shadow_right.png) no-repeat;
		}
	/* shadows - end */

/* footer - start */
div.footer {
	height:6px;
	width:100%;
	position: absolute;
	bottom:0px;
	left:0px;
	background: #21366C;
}
/* footer - end */

/* thankyou page - start */
div.thankyou-dialog {
	position:fixed;
	top:0;
	left:0;
	width:100% !important;
	height:100% !important;
	z-index:2147482100;
	color:#fff;
}

	div.thankyou-dialog div.thankyou-content {
		margin-left:auto;
		margin-right:auto;
		margin-top: 150px;
		width:600px;
		text-align: center;
		background:#3E3E3E;
		padding:20px;
		border:5px solid #fff;
		-webkit-border-radius: 20px;
		border-radius: 20px;
	}

	div.thankyou-dialog div.thankyou-content h1 {
		font-size:30px;
	}

	div.thankyou-dialog div.thankyou-content  ul {
		margin-top:33px;
		list-style-type:circle;
		text-align: left;
	}

		div.thankyou-dialog div.thankyou-content ul li {
			margin-left:50px;
			font-size:16px;
			margin-bottom:15px;
			line-height:20px;
		}

		div.thankyou-dialog div.thankyou-content div.click-to-close {
			clear:both;
			margin-top:75px;
			cursor:pointer;
		}

/*thankyou page - end*/