/* 13461 */
.hidden {
	display:none;
}

.screen-saver-{{app-id}}-loader {
	background:url(resource-image://images/ajax-loader.gif) no-repeat center center;
}

.screen-saver-{{app-id}}-overlay {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.8;
	z-index:{{overlay-zindex}};
}

.screen-saver-{{app-id}}-images {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:{{overlay-zindex-images}};
}

	.screen-saver-{{app-id}}-images img {
		position:absolute;
		display:none;

		-webkit-box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.6);
		box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.6);
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}

	.screen-saver-{{app-id}}-picture-1 {
		max-width:700px;
	}

	.screen-saver-{{app-id}}-picture-2 {
		max-width:500px;
	}

	/* click to close */
	.screen-saver-{{app-id}}-click-to-close-screen {
		position:absolute;
		bottom:10px;
		left:10px;
		color:#fff;
		font-size:26px;
	}


	/* thank-you-install */
	.screen-saver-{{app-id}}-thank-you-install {
		position:absolute;
		top:50px;
		left:0px;
		width:650px;
		height:220px;
		font-size:22px;
		background:#fff;
		background:rgba(255, 255, 255, 0.92);
		z-index:{{thank-you-install-zindex}};
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}

		.screen-saver-{{app-id}}-thank-you-install h1 {
			text-align:center;
			font-size:25px;
			margin-top:8px;
			margin-bottom:15px;
		}

		.screen-saver-{{app-id}}-thank-you-install ul {
			list-style-type:circle;
		}

			.screen-saver-{{app-id}}-thank-you-install ul li {
				margin-left:50px;
				font-size:18px;
				margin-bottom:8px;
			}

		.screen-saver-{{app-id}}-click-to-close {
			text-align:center;
			font-size:20px;
			margin-top:16px;
		}